.custom_footer_style{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    /* overflow:hidden;    */
    /* box-sizing: border-box;   */
}

.reuse_cursor{
    cursor: pointer;
}
/* body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
} */


/*
CountOpedia custom styles!
*/

.count_Opedia_Custom_Header_style{
    border:1px solid gray;
    position: relative;
    width: 100%;
    top:20px;
}